
body {
	background-color: #00FFFF
}


h1 {
	color: #50FF00;
	background-color: #FFFFFF;
	font-family: monospace;
	font-size: 100px;
}

h3 {
	color: #50FF00;
	background-color: #FFFFFF;
	font-style: italic;
	font-family: monospace;
	font-size: 50px;
}

p {
	color: #000000;
	font-family: monospace;
	font-size: 30px;
}

ul {
	color: #000000;
	font-family: monospace;
	font-size: 30px;
}

