/* Adding new font */
@import url('https://fonts.googleapis.com/css?family=Kavivanar');


body {
	background-color: #00FFFF;
	/* telling everything in the body
	   of the page to use Lato,
		 unless otherwise specified
	*/
	font-family: monospace;
}

.image {
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
}

header {
	
}

nav {
	float:left;
}

aside {
	
}

article {
	
}

footer {
	
}

section {
	
}

h1 {
	color: #50FF00;
	background-color: #FFFFFF;
	font-family: 'Kavivanar', monospace;
	font-size: 100px;
}

h3 {
	color: #50FF00;
	background-color: #FFFFFF;
	font-family: 'Kavivanar', monospace;
	font-size: 50px;
}

h4 {
	background-color: #FFFFFF;
	font-family: monospace;
	font-size: 25px;
	margin-bottom: 0px;
}

p {
	color: #000000;
	font-size: 30px;
}

ul {
	color: #000000;
	font-size: 30px;

}

li {
	display: inline-block;
	float: left;
	text-decoration: none;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

hr {
	color: #FFFFFF;
	margin: 50px 0px;
}

#two-column {
}

#left {
	float: left;
	width: 62%;
}

#right {
	float:right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/*

Guest Book / Firebase area

 */

/* This holds the form they fill out */
.example-chat-toolbar {
	font-size: 30px;
}

/* This is the box that holds the chat messages */
.example-chat-messages {
	list-style: none;
	list-style-type: none;
	background: #fff;
	background-color: #fff;
	font-size: 20px;
	padding: 0px;
	margin-top: 0px;
	min-height: 50px;
	max-height: 400px;
	overflow: scroll;
}

/* This is their username in the chat box */
.example-chat-username {
	margin-right: 20px;
}

/* The name input */
#nameInput {
	height: 50px;
	font-size: 20px;
	line-height: 30px;
	font-family: monospace;
}

/* The message textarea */
#messageInput {
	font-size: 20px;
	line-height: 30px;
	font-family: monospace;
}

/* This is the submit button */
#submit-msg {
	background: #50FF00;
	background-color: #50FF00;
	font-family: monospace;
	font-size: 20px;
	outline: 0;
	border: 0;
	padding: 10px 30px;
	margin-top: 25px;
  box-shadow: 1px 1px 2px #FFF, 0 0 25px #FFF, 0 0 5px #FFF;
	cursor: pointer;
}

/* This is the submit button when it is being clicked */
#submit-msg:active {
	-webkit-box-shadow: 1px 2px 2px #666 inset;
  -moz-box-shadow: 1px 2px 2px #666 inset;
  -ms-box-shadow: 1px 2px 2px #666 inset;
  -o-box-shadow: 1px 2px 2px #666 inset;
  box-shadow: 1px 2px 2px #666 inset;
}
