body {
	background-color: #00FFFF
}

h1 {
	color: #0050FF
	font-style: bold;
	font-weight: light;
	font-size: 100px
	font-family: cursive;
}
h3 {
	color: #50FF00
	font-style: italic;
	font-family: helvetica;
}